---
layout: page
---

{{ content }}

<ul id="archive">
{% for advancedlecture in site.advancedlectures %}
<li class="archiveposturl" style="background: transparent">
<div class="advancedlecture-container">
    {% if advancedlecture.thumbnail %}
    <div class="thumbnail">
      <div class="center-cropped" style="margin-top:5px;margin-bottom:5px;background-image: url('{{ advancedlecture.thumbnail | prepend: site.baseurl }}');">
        <img src="{{ advancedlecture.thumbnail | prepend: site.baseurl }}"/>
      </div>
    </div>
    {% endif %}
    <div class="content">
        <span style="font-weight: bold;">{{ advancedlecture.title }}</span><br>

        <strong>tl;dr:</strong> {{ advancedlecture.tldr }}
        <br/>
        <strong>
        {% include advancedlecture_links.html advancedlecture=advancedlecture %}
        </strong>

        {% if advancedlecture.content != '' %}
        <br/>
        <div class="markdown-content" style="margin-top: 3px;">
        {{ advancedlecture.content }}
        </div>
        {% endif %}
    </div>
</div>
</li>
{% endfor %}
</ul>